---
---
@import "base";
@import "fonts";

@media screen {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    background-color: white;
  }

  body {
    font-family: $default-font;
    color: $default-color;
  }


  a {
    &:link {color: $link-color;}
    &:visited {color: $link-visited-color;}
    &:hover {color: $link-hover-color;}
    &:focus {color: $link-focus-color;}
    &:active {color: $link-active-color;}

    @include transition(
      color 2s ease-in,
      background-color 2s ease-in,
      background-image 2s ease-in
    );

    &:before {
      @include transition(color);
    }

    img {
      @include transition(opacity);
    }
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: $sans-serif;

    a {
        text-decoration:none;
    }
  }

  h1,h2 {
    clear:both;
    text-align:center;
    text-transform:uppercase;
    letter-spacing: 3px;

    main &:before {
        display:block;
        height: 5px;
        background: $complementary-color;
        margin: 0 auto 0.2em;
        content: " ";
        width: 50px;
    }

    .gallery &:before {
      display:none;
    }

  }

  h1 {
    font-size: 50px;
    main & {
      font-size: 40px;
    }

  }

  h3,h4,h5,h6 {
    + p {
      margin-top:0;
    }
  }

  p {
    margin: 0;

    &:last-child {
      margin: 0;
    }
  }

  ul {
    list-style:disc;
  }

  ol {
    list-style:decimal;
  }

  img {
    max-width:100%;
    width:auto;
    height:auto;
  }

  br {
    margin:0;
    line-height:0;
  }

  hr {
    border:none;
    text-align:center;
    &:before {
      display:block;
      content: " · · · · · ";
      color: rgba($default-color-light, 0.5);
    }
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #skiplink {
    @extend .visuallyhidden;
  }

  .rotunda-icon {
    display:inline-block;
    width: 50px;
    height: 50px;
    @include border-top-radius(25px);
    @include border-bottom-radius(25px);
    @include background(
      linear-gradient(to left, transparent 0, transparent 50%, rgba(white, 0.125) 50%, rgba(white, 0.0125) 100%)
      $base-color
    );
    background-repeat: repeat-y, repeat;
    background-size: 100% 1px, auto;
    padding: 12px;

    img {
      margin-top: -1px;
    }
  }

  header[role=banner] {
    z-index:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    text-align:center;
    padding: 50px;

    .home & {
      height: 50vh;
      min-height: 200px;
    }

    background-color: $complementary-color;
    @include background(
      linear-gradient(to left, transparent, rgba(white, 0.05)),
      $complementary-color
    );
    background-size: 50% 100px, auto;

    h1 {
      margin:0;

      &:before {
        display:none;
      }

      abbr {
        border:none;
        font-variant:small-caps;
      }

    }

    a {
      text-decoration:none;

      &:link,
      &:visited {
        color: rgba(white, 0.9);
      }

      &:hover,
      &:focus {
        color: rgba(white, 0.95);
      }

      &:active {
        color: white;
      }
    }

    .rotunda-icon {
      display:block;
      margin:10px auto;
      float:none;
    }

    #uvalink {
      text-align:center;
      margin: 0 auto 20px;
      display:block;
    }

  }

  main {
    z-index:100;
    position:relative;
    background-color: white;
    padding: 0 40px;
  }

  #introduction {
    font-size: 140%;
    line-height: 1.75;
    color: #909090;
    font-style:italic;
    max-width: 780px;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    min-height: 300px;
    h1 {
      @extend .visuallyhidden;
    }
  }

  .gallery {
    padding-left:0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      text-decoration:none;
      background-color: $complementary-color;
      color: white;
      font-size: 85%;
      width: 33%;
      padding: 20px;
      min-height: 260px;
      margin-bottom: .5%;
      background-size: cover;
      text-align:right;
    }

    h2 {
      text-align:inherit;
    }
  }

  // Organization backgrounds
  $orglist: shanti scholarslab iath rds arcs dsi-centers;

  $overlay-color: desaturate($complementary-color, 50);

  .profile main header {
      @include background-image(
          linear-gradient(to left, rgba($overlay-color, .75), rgba($overlay, .75)),
          url("/i/rotunda.jpg")
      );
  }

  @each $org in $orglist {

      a.#{$org},
      .#{$org} main header
      {
          @include background-image(
            linear-gradient(to left, rgba($overlay-color, .75), rgba($overlay, .75)),
            url("/i/#{$org}.jpg")
          );
        &:hover,
        &:focus {
          @include background-image(
            linear-gradient(to left, rgba($overlay-color, .95), rgba($overlay, .95)),
            url("/i/#{$org}.jpg")
          );
        }

      }

  }
  footer[role=contentinfo] {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding: 50px;
    background-color: $complementary-color;
    @include background(
      linear-gradient(to left, transparent, rgba(white, 0.05)),
      $complementary-color
    );
    background-size: 50% 100px, auto;

    a {
      color: white;
      text-decoration:none;
    }

  }

}

/* Print styles */
@media print {
  @import "media/print";
}
