---
---
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import "base";
@import "fonts";

@media screen {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    background-color: white;
  }

  body {
    font-family: $default-font;
    color: $default-color;
    padding-top: 50px;
  }


  a {
    &:link {color: $link-color;}
    &:visited {color: $link-visited-color;}
    &:hover {color: $link-hover-color;}
    &:focus {color: $link-focus-color;}
    &:active {color: $link-active-color;}

    @include transition(
      color 2s ease-in,
      background-color 2s ease-in
    );

    &:before {
      @include transition(color);
    }

    img {
      @include transition(opacity);
    }
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: $sans-serif;

    a {
        text-decoration:none;
    }
  }

  h1,
  .uva-logotype {
    clear:both;
    text-transform:uppercase;
    letter-spacing: 2px;

    .gallery &:before {
      display:none;
    }

  }

  h1 {
    font-size: 50px;
    main & {
      font-size: 40px;
    }

  }

  h3,h4,h5,h6 {
    + p {
      margin-top:0;
    }
  }

  ul {
    list-style:disc;
  }

  ol {
    list-style:decimal;
  }

  img {
    max-width:100%;
    width:auto;
    height:auto;
  }

  br {
    margin:0;
    line-height:0;
  }

  hr {
    border:none;
    text-align:center;
    &:before {
      display:block;
      content: " · · · · · ";
      color: rgba($default-color-light, 0.5);
    }
  }

  form {
    font-family: $default-font;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  label,
  input,
  textarea,
  .submit {
    display:block;
    font-family: $default-font;
    width: 100%;
    text-align:left;
    max-width: 380px;
  }

  input:not([type=submit]),
  textarea {
    background-color: white;
    border: 1px solid #bbb;
    border-radius:3px;
    margin-bottom: 1em;
    padding: 6px;
    width: 100%;
  }

  input[type=submit] {
    width: auto;
  }

  textarea {
    height: 250px;
  }

  label {
    font-weight:bold;
    margin-bottom: 3px;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #skiplink {
    @extend .visuallyhidden;
  }

  .rotunda-icon {
    display:inline-block;
    width: 50px;
    height: 50px;
    @include border-top-radius(25px);
    @include border-bottom-radius(25px);
    @include background(
      linear-gradient(to left, transparent 0, transparent 50%, rgba(white, 0.125) 50%, rgba(white, 0.0125) 100%)
      $base-color
    );
    background-repeat: repeat-y, repeat;
    background-size: 100% 1px, auto;
    padding: 12px;

    img {
      margin-top: -1px;
    }
  }

  .uva-logotype {
    font-family: $sans-serif;
  }

  header[role=banner] {
    z-index:1;
    position:relative;
    padding: 2rem 0;
    border-bottom: 3px solid rgba(black,.0325);
    background-image: url('/i/sayagata-400px.png');

    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    a {
      display:flex;
      justify-content: center;
      align-items: center;
      max-width: 700px;
      padding: 20px 0;
      .home & {
        height: 50vh;
        min-height: 200px;
        flex-direction: column;
      }

    }

    h1,
    .uva-logotype {
      font-weight: 700;
      margin:0;
      font-size: 1.5rem;
      color: $default-color-light;

      &:before {
        display:none;
      }

      abbr {
        border:none;
        font-variant:small-caps;
      }

    }

    a {
      text-decoration:none;
    }

    .rotunda-icon {
      margin-left: 20px;
      margin-right: 20px;

      .home & {
        margin: 20px;
      }

    }

  }

  #notice {
    position:fixed;
    top:0;
    left:0;
    right: 0;
    background: $default-color;
    color: white;
    line-height: 20px;
    z-index:10000;
    text-align:center;

    a {
      color: white;
    }

  }

  main {
    z-index:100;
    position:relative;
    background-color: white;
    padding: 0 40px;
  }
  
  article,
  section {
    max-width: 900px;
    margin: auto;
  }

  #aspects {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(stretch);
    
    section {
      width: 30%;
      margin-top:0;
      padding: 0 1.5rem 1.5rem;
      :first-child {
        margin-top:0;
      }

      :last-child {
        margin-bottom:0;
      }

    }

    h1 {
      font-size: 1.25rem;
      margin: 0 -1.5rem 1.5rem;
      padding: 1.25rem 1.25rem;
      background: $base-color;
      text-align:center;
      color: white;
      color: rgba(white, .95);
      }

    i {
      display:block;
      font-size: 5rem;
      text-align:center;
    }
  }

  #introduction {
    font-size: 140%;
    line-height: 1.75;
    color: $default-color-light;
    max-width: 900px;
    margin: 4rem auto;

    h1 {
      @extend .visuallyhidden;
    }

    @include divider($base-color);
  }

  .gallery {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    a {
      text-decoration:none;
      background-color: $complementary-color;
      color: white;
      width: 33%;
      padding: 20px;
      padding-top: 50px;
      min-height: 260px;
      margin-bottom: .5%;
      background-size: cover;
      text-align:center;
    }

    h2 {
      text-align:inherit;
      margin-bottom:0;
    }

    .location {
      font-style:italic;
      font-size: 14px;
      color: #eee;
      color: rgba(white,.75);
      margin: 0 0 1em;
    }
  }

  $overlay-color: desaturate($complementary-color, 50);

  .profile main header {
      @include background-image(
          linear-gradient(to left, rgba($overlay-color, .75), rgba($overlay-color, .75)),
          url("/i/rotunda.jpg")
      );
  }


  .collaborator {
    overflow:hidden;
    padding-bottom: 1.5rem;
    
    #affiliations {
      ul {
        list-style:none;
        margin-left:0;
        padding-left:0;
      }
      h2 {
        @extend .visuallyhidden;
      }
    }

    #metadata {

      ul {
        list-style:none;
        margin-left:0;
        padding-left:0;
      }

      li {
        display:inline;

        & + li:before {
          content: " · ";
        }
      }

      float:right;
      width: 30%;
    }

    #about {
      margin:0;
      width: 65%;
      float:left;
    }
  }

  form#profile {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  footer[role=contentinfo] {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding: 50px;

    @include divider($default-color-lightest, 'before');

  }

}

/* Print styles */
@media print {
* {
  background : transparent !important;
  color : black !important;
  text-shadow : none !important;
  filter : none !important;
  -ms-filter : none !important;
}

pre, blockquote {
  border : 1px solid #999;
  page-break-inside : avoid;
}

thead {
  display : table-header-group;
}

tr, img {
  page-break-inside : avoid;
}

@page {
  margin : .5cm;
}

p, h2, h3 {
  orphans : 3;
  widows : 3;
}

h1, h2, h3 {
  page-break-after : avoid;
}

nav {
  display:none;
}

}
