// Imports
@import "bourbon";
@import "susy";
@import "functions";
@import "mixins";
@import "normalize";

// Development
$development: false;

// Susy

// Colors
$base-color                     : #cc4000;

$base-color-light               : lighten($base-color, 10%);
$base-color-lighter             : lighten($base-color, 20%);
$base-color-lightest            : lighten($base-color, 30%);

$base-color-dark                : darken($base-color, 10%);
$base-color-darker              : darken($base-color, 20%);
$base-color-darkest             : darken($base-color, 30%);

$complementary-color            : color-wheel($base-color, 'complementary');
$complementary-color            : darken($complementary-color, 20);

$default-color                  : rgb(90,90,90);
$default-color-light            : rgba($default-color, 0.75);
$default-color-lighter          : rgba($default-color, 0.5);
$default-color-lightest         : rgba($default-color, 0.1);

$link-color                     : $base-color;
$link-visited-color             : lighten($link-color, 10%);
$link-hover-color               : darken($link-color, 10%);
$link-focus-color               : $link-hover-color;
$link-active-color              : $link-color;

$code-color: $default-color-light;
$ins-color: $code-color;

// Fonts
$serif: "Noto Serif", serif;
$sans-serif: "Source Sans Pro", sans-serif;

$default-font: $serif;
$alt-font: $sans-serif;
$heading-font: $alt-font;
