@import "base";

@font-face {
  font-family: 'socialicons';
  src: url('//static.scholarslab.org/fonts/socialicons/socialicons.eot');
  src: url('//static.scholarslab.org/fonts/socialicons/socialicons.eot?#iefix') format('embedded-opentype'),
       url('//static.scholarslab.org/fonts/socialicons/socialicons.woff') format('woff'),
       url('//static.scholarslab.org/fonts/socialicons/socialicons.ttf') format('truetype'),
       url('//static.scholarslab.org/fonts/socialicons/socialicons.svg#socialicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen {
  @import "media/screen";
}

@media print {
  @import "media/print";
}
