@media screen {

* {
    @include box-sizing(border-box);
}

@include establish-baseline;

html {
    background-color: $complementary-color;
}

body {
    font-family: $default-font;
    color: $default-color;
    @include container;
}

a {
    @include link-colors(
        $link-color,
        $link-hover-color,
        $link-active-color,
        $link-visited-color,
        $link-focus-color
    );

    @include transition(
        color $default-transition-duration,
        background-color $default-transition-duration
    );

    &:before {
        @include single-transition(color);
    }

    img {
        @include single-transition(opacity);
    }
}

#{headings()} {
    font-family: $sans-serif;

    a {
        text-decoration:none;
    }
}

h1,h2 {
    clear:both;
    text-align:center;
    text-transform:uppercase;
    letter-spacing: 3px;

    main &:before {
        display:block;
        width: column(12);
        height: 5px;
        background: $complementary-color;
        margin: 0 auto 0.2em;
        content: " ";
    }

}

h1 {
    @include adjust-font-size-to(36px);
    @include adjust-leading-to(1,36px);
}

h2 {
    @include adjust-font-size-to(24px);
    @include leader(2, 24px);
    color: $default-color-lighter;
    font-style:italic;

    h1 + &,
    h1 ~ * &:first-child {
        @include leader(1, 24px);
    }

}

h3 {
    @include adjust-font-size-to(20px);
    color: $default-color-light;
    font-weight:normal;
    @include leader(2, 20px);

    h2 + & {
        @include leader(1, 20px);
    }
}

h4 {
    @include adjust-font-size-to($base-font-size);
    @include leader(2);
    h3 + & {
        @include leader(1);
    }
}

h5 {
    @include adjust-font-size-to($base-font-size);
    color: $default-color-light;
    @include leader(2);
    h4 + & {
        @include leader(1);
    }
}

h6 {
    @include adjust-font-size-to($base-font-size);
    font-style:italic;
    color: $default-color-light;
    @include leader(2);
    h5 + & {
        @include leader(1);
    }
}

#{headings(3,6)} {
    + p {
        margin-top:0;
    }
}

p {
    margin: rhythm(1) 0;

    &:last-child {
        margin: rhythm(1) 0 0;
    }

}

blockquote {
    margin:0;
    @include adjust-font-size-to(20px);
    font-style:italic;

    figure & {
        text-align:left;
    }

    & + figcaption {
        margin-left: rhythm(1.25, 14px);
        text-align:left;
    }

    & :last-child {
        margin-bottom:0;
    }
}

dl {
  margin: rhythm(1) 0;
}

dt {
    font-weight:bold;
}

dd {
    margin: 0 0 rhythm(1) rhythm(1);
}

ul {
    list-style:disc;
}

ol {
    list-style:decimal;
}

ul,ol {
    padding:0;
    margin: rhythm(1) 0 rhythm(1) rhythm(1);

    nav & {
        margin-left:0;
    }

    ul {
        list-style: circle;
    }

    ol {
        list-style: upper-alpha;
    }

    ul, ol {
        margin: 0 0 0 rhythm(1);

        ul {
            list-style:square;
        }

        ol {
            list-style:lower-alpha;
        }
    }
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

th,
td {
    padding: rhythm(1) rhythm(0.5) 0;
    @include trailing-border(1px);
    border-color: rgba($default-color,.2);
}

th {
    @include trailing-border(3px);
    text-align:left;
}

img {
    max-width:100%;
    width:auto;
    height:auto;
}

code {
    font-family: monospace;
    color: $code-color;
}

del {
    color: $default-color-lighter;
}

ins {
    text-decoration:none;
    background: $ins-color;
}

address {
    font-style:normal;
    margin: rhythm(1) 0;
}

br {
    margin:0;
    line-height:0;
}

hr {
    border:none;
    text-align:center;
    &:before {
        display:block;
        content: " · · · · · ";
        color: rgba($default-color-light, 0.5);
    }
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#skiplink {
    @extend .visuallyhidden;
}

.rotunda-icon {
    display:inline-block;
    width: rhythm(1.5);
    height: rhythm(1.5);
    @include border-radius(rhythm(.75));
    @include background(
        linear-gradient(left, color-stops(transparent 0, transparent 50%, rgba(white, 0.125) 50%, rgba(white, 0.0125) 100%)) repeat-y,
        $base-color
    );

    background-size: 100% 1px, auto;
    padding: rhythm(.35);

    img {
        margin-top: -1px;
    }
}

.gallery {
    display:block;
    @include clearfix;
    clear:both;
    background-color: $base-color-darker;
    padding:0;
    ul {
        list-style:none;
        padding:0;
        margin:0;
    }

    li {
        margin-bottom:0;
        background-size:cover;
    }

    a {
        display:block;
        text-align:right;
        text-decoration:none;
        vertical-align:bottom;
        background: rgba(desaturate($complementary-color, 50), 0.75);
        color: #fff;
        outline:0;
        padding: rhythm(1) rhythm(1) rhythm(4);
        max-height: rhythm(6);
        &:hover,
        &:focus {
            background: rgba(desaturate($complementary-color, 50), 0.25);
        }

        h2 {
            &:before {
                display:none;
            }
            margin:0;
            font-style:normal;
            @include adjust-font-size-to(28px);
            color:white;
            text-align:inherit;
        }
        p {
            margin:0;
            color: white;
            color: rgba(white, 0.8);
            @include adjust-font-size-to(14px);
            @include adjust-leading-to(0.5,14px);
        }
    }
}

// Organization backgrounds
$orglist: shanti scholars-lab iath history-and-futures-of-the-book virginia-center-for-computer-music uva-library-services virginia-foundation-for-the-humanities rotunda center-for-data-ethics-law-and-policy;

// Default
.profile main header {
    @include background-image(
        url("/i/rotunda.jpg")
    );
}

@each $org in $orglist {

    .#{$org},
    .#{$org} main header
    {        
        @include background-image(
            url("/i/#{$org}.jpg")
        );
    }

}


header[role=banner] {
    z-index:1;
    display:block;
    position:relative;
    text-align:center;
    @include bleed();
    padding: rhythm(0.5) gutter(12);
    @include background(
        linear-gradient(left, color-stops(transparent, rgba(white, 0.05))),
        $complementary-color
    );
    background-size: 50% 100px, auto;

    h1 {
        margin:0;       
        @include adjust-font-size-to(20px);

        &:before {
            display:none;
        }

        abbr {
            border:none;
            font-variant:small-caps;
        }

    }

    a {
        text-decoration:none;

        &:link,
        &:visited {
            color: rgba(white, 0.9);
        }

        &:hover,
        &:focus {
            color: rgba(white, 0.95);
        }

        &:active {
            color: white;
        }
    }

        padding: rhythm(1) gutter(12);
        
        .rotunda {
            display:block;
            margin:rhythm(0.5) auto;
            float:none;
        }

        #uvalink {
            text-align:center;
            margin: 0 auto rhythm(1);
            display:block;
        }

}

main {
    z-index:100;
    position:relative;
}

section {
    @include bleed;

    padding: rhythm();
    background-color: #fff;

    h1 {
        margin-top:0;
    }

}

figure {

    &.quote {
        @include bleed;
        background: darken($base-color, 20);
        color: white;
        color: rgba(white, 0.8);
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);

        blockquote {
            @include adjust-font-size-to(32px);
            @include adjust-leading-to(1.5, 32px);
            margin:0;
        }

        p {
            margin:0;
            @include pad(1,1);
        }

    }
}

#introduction {

    h1 {
        @extend .visuallyhidden;
        margin:0;
    }

    p {
        margin:0;
        @include adjust-font-size-to(20px);
        @include adjust-leading-to(1,20px);
        font-style:italic;
        text-align:center;
    }
}

#categories {
    padding:0;
    @include clearfix;
    background-color: lighten($complementary-color, 10%);
}

#contact {
    background-color: lighten($complementary-color, 10%);
    color: #fff;
}

.profile main header {
    @include bleed;
    padding: rhythm() gutter();
    background-color: transparent;
    background-size: cover;
    background-position: 50% 0;

    color: #fff;
    color: rgba(white, 0.8);

    h1:before {
        display:none;
    }

    .blurb {
        text-align:center;
        font-family: $sans-serif;
        @include adjust-font-size-to(24px);
        font-weight: 200;
    }

}

article header {
    padding-top: rhythm(2);
    padding-bottom: rhythm(4);

    h1 {
        margin:0;
    }
}


footer[role=contentinfo] {
    padding: rhythm() 0;
    @include bleed;
    color: white;
    color: rgba(white, 0.8);
    font-family: $sans-serif;

    p {
        @include adjust-font-size-to(16px);
        @include adjust-leading-to(1,16px);
        margin:0;
    }

    a {
        color: white;
        color: rgba(white, 0.8);
    }

}

.elsewhere {
    margin-left:0;
    padding-left:0;
    list-style:none;
    text-align:center;

    li {
      display:inline;
    }

    a {
        @include squish-text();
        vertical-align:sub !important;
        color: rgba(white,0.5);
        text-decoration:none;

        &:hover, &:active {
            color: rgba(white,0.75);
        }

        &:before {
          font-size: 80px !important;
          line-height: 80px;
          font-family: 'socialicons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
          text-decoration:none;
        }
    }

}

.google:before {
    content: "\2b";
}
.github:before {
    content: "\67";
}
.twitter:before {
    content: "\74";
}
.facebook:before {
    content: "\66";
}
.vimeo:before {
    content: "\76";
}

}

@media (min-width: 600px) {

    h1 {
        @include adjust-font-size-to(54px);
        @include adjust-leading-to(2, 54px);
    }

    header[role=banner] {
        @include bleed;

        .home & {
            padding-top: rhythm(3);
            padding-bottom: rhythm(3);
        }

        h1 {
            margin:0;
            position:absolute;
            right: 50%;
            text-align:right;
            @include adjust-font-size-to(20px);
            @include adjust-leading-to(1.5, 20px);   
            padding-right: rhythm(1.5,20px);

            .home & {
                position:static;
                text-align:center;
                padding:0;
                @include adjust-font-size-to(54px);
            }

        }

        #uvalink {
            margin:0;
            float:none;
        }

        .rotunda-icon {
            display:inline-block;
            margin:0;

            .home & {
                display:block;
                margin: rhythm(1) auto;
            }
        }

        .uva-logotype {
            position:absolute;
            left: 50%;
            padding-left: rhythm(1.5);
            @include adjust-leading-to(1.5);

            img {
                vertical-align:middle;
            }

            .home & {
                position:static;
                text-align:center;
                padding:0;
            }

        }
    }

    .profile main header {
        @include bleed;
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);

    }

    section {
        @include bleed;
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);
    }

    #introduction {
        p {
            @include adjust-font-size-to(32px);
            @include adjust-leading-to(2,32px);
        }
    }

    .gallery li {
        @include span-columns(9);
    }

    footer[role=contentinfo] {
        
        @include clearfix;

        p {
            @include span-columns(9);

            &:last-child {
                @include span-columns(9 omega);
                text-align:right;
            }
        }
    }

}


@media (min-width: 600px) and (min-height: 500px) {

    body {
        padding-top: rhythm(2.5);

        &.home {
            padding-top:0;
        }
    }

    header[role=banner] {
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index:1000;

        .home & {
            position:static;
            z-index:auto;
        }
    }
}

@media (min-width: 900px) {

    .gallery li {
        @include span-columns(6);
    }

}


