<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <link href="http://fonts.googleapis.com/css?family=Noto+Serif:400italic,700italic,400,700|Source+Sans+Pro:200,400italic,700italic,400,700|Source+Code+Pro" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{site.baseurl}}c/style.css">
        <script src="{{site.baseurl}}j/modernizr.min.js"></script>
        <script src="{{site.baseurl}}j/respond.min.js"></script>
    </head>
    <body class="{{ page.bodyclass }} {{ page.title | downcase | replace: "’", "" | replace: " ", "-" }}">
        <a id="skiplink" href="#main">Skip to Main Content</a>
        
        <header role="banner" id="banner">
            <h1><a href="{{site.baseurl}}" id="titlelink">Practicing DH @ UVa</a></h1> 
            <a id="uva-link" href="{{site.baseurl}}">
                <span class="rotunda-icon"><img src="{{site.baseurl}}i/rotunda-white.png" alt=""></span>
                <span class="uva-logotype"><img src="{{site.baseurl}}i/uva-logotype-white.png" alt="University of Virginia logo"></span>
            </a>
        </header>

        <main role="main" id="main">
        {{ content }}
        </main>
        
        <footer role="contentinfo">
            <p class="project">an initiative of the <a href="http://provost.virginia.edu/">Office of the Provost</a> at <a href="http://www.virginia.edu/">UVa</a> | <a href="mailto:bethany@virginia.edu?subject=Digital Humanities initiatives at UVa">contact</a></p>
            <p class="copyright"><a href="http://www.virginia.edu/copyright.html">&copy</a> 2014 Rector and Visitors of the University of Virginia</p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{site.baseurl}}j/scrollposition.js"></script>

    </body>
</html>
